@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer components {
    .nav-links{
        @apply  hover:text-white cursor-pointer transition duration-200;
    }

}
@font-face {
    font-family: 'saiyan';
    src: url('../public/fonts/Saiyan-Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
